<ion-view view-title="Planner">
  <ion-content class="padding">
    <h2>Monday</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
       <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Hosting dinner at 7pm
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Call mom
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Pay internet bill
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Renew driver's license
  </a>

</div>
        
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <button class="button button-block button-energized">
          Submit
        </button>
      </div>
    </div> -->
  </div>
  </ion-content>
</ion-view>
