	<div>
		<div class="panel panel-default">
			<div class="panel-heading" >
				<span class="task-list-header">Task List &nbsp &nbsp</span> <a href="/#!/newTask" class="btn btn-default glyphicon glyphicon-plus"></a>
			</div>
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i>
						</div>
						<input class="form-control" type="text" ng-model="mSearch" placeholder="Search">
					</div>
				</div>
			</form>

			<div class="panel-body task-container">
			<table class="table table-striped">
		        	
				<tbody>
					<tr> 
						<td></td>
						<td>Task Name</td>
						<td>Due Date</td>
						<td>Priority</td>
						<td><button  ng-click="add($index)" class="glyphicon glyphicon-plus"></button></td>
						
					</tr>
					<tr ng-repeat="task in tasks track by $index " >
										<td><input type="checkbox" ng-model="task.done" ng-change="complete($index)"/></td>
										<td>{{task.name}}</td>
										<td>{{task.due}}</td>
										<td>{{task.priority}}</td>
										<td> <button ng-click="remove($index)" class="glyphicon glyphicon-minus"></button></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
















