<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Task List</h4>
			</div>
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i>
						</div>
						<input class="form-control" type="text" ng-model="mSearch" placeholder="Search">
					</div>
				</div>
			<div class="panel-body contact">
			<table class="table table-striped">
		        	<thead>
					<tr>
					<th>Timestamp</th>
					<th>Name</th>
					<th>Priority</th>
					<th>Due Date</th>
<!-- 					<th>Select</th>
					<th>Parse</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="task in tasks | filter : mSearch">
					<td>{{task.timestamp}}</td>
					<td>{{task.name}}</td>
					
<!-- 					<td><button class="btn btn-success btn-sm" ng-click="add(task)">Save</button></td>
					<td><button class="btn btn-primary btn-sm" ng-click="add(task)">Parse</button></td> -->
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
